nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }

  nav {
    margin-top: 25px;
  }

  #logo img {
    float: left;
  }
  #logo {
    float: left;
   
  }
#slogan {
    width: 250px;
    text-transform: uppercase;
}

nav ul {
    float: right;
  }
  
nav li {
    float: left;
    padding-right: 2px;
  }